body {
    display: flex;
    flex-direction: column;
    margin:0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #1F2937;
}

.logo {
    font-size:24px;
    color:#F9FAF8;
}

ul {
    display: flex;
    list-style:none;
    margin: 0;
    padding: 0;
    gap: 26px;
}

.links a {
    text-decoration: none;
    color: #E5E7EB;
    font-size:18px;
}