body {
    display: flex;
    flex-direction: column;
    margin:0;
}

.hero-and-header {
    background: #1F2937;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left:140px;
    margin-right:140px;
}

.logo {
    font-size:24px;
    color:#F9FAF8;
}

ul {
    display: flex;
    list-style:none;
    margin: 0;
    padding: 0;
    gap: 26px;
}

.links a {
    text-decoration: none;
    color: #E5E7EB;
    font-size:18px;
}

.hero {
    display:flex;
    gap:50px;
    margin-left:140px;
    margin-right:140px;
    justify-content:center;
}

img {
    height:250px;
    width:500px
}